body {
    color: #222;
    background: #fff;
  }
  a {
    color: #0033cc;
  }
  

  body.dark-theme {
    color: #eee;
    background: #121212;
  }
  body.dark-theme a {
    color: #809fff;
  }


  .btn-toggle{
    margin-left: 540px;
    width: 150px;
    height: 40px;
    background-color: #54f4fc;
    color: #2c1515;
  }